@model YugiOhCreateCardModel


<form method = "post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Search For Card(s)</h2>
            <hr/>
        </div>
        @* This will allow for us to not have to use the span and instead just use this one line that will *@
        @* bring through all the errors for the form at the top neatly *@
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="cardName">Card Name To Search For</label>
            <input asp-for="cardName" class="form-control"/>
            @* <span asp-validation-for="Name" class="text-danger"></span> *@
        </div>
        <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group" >
            @foreach (string radioBut in @Model.searchTermList)
            {
                <input asp-for="cardSearchType" class="btn-check" id="@radioBut" type="radio" name="cardSearchType" value="@radioBut" />
                <label asp-for="cardSearchType" type="radio" class="btn btn-outline-primary" for="@radioBut">@radioBut</label>      
            }
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Search</button>
        <a asp-controller="YugiOhCard" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts
{
    @{
        //This will bring through validtion checks we added on the server side to the client side, this way we do not hit the server 
        // everytime.
        <partial name="_ValidationScriptsPartial"/>        
    }
}