@model IEnumerable<YugiOhCardViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-8">
            <a asp-controller="YugiOhCard" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Search New Card
            </a>
        </div>
    </div>
</div>

<br/><br/>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
    <tr>
        <th>Card Nane</th>
        <th>Description</th>
        <th>Image</th>
        <th>Sets</th>
        <th>Price</th>
    </tr>
    </thead>
     <tbody>
        @foreach (var obj in Model)
        {
            <tr width="50%">
                <td>@obj.name</td>
                <td>@obj.descrtion</td>
                <td>
                    <img src="@obj.smallCardImages[0]" />
                </td>
                <td> @obj.sets[0] </td>
                <td> @obj.prices[0] </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="YugiOhCard" asp-action="DetailedCard" asp-route-cardName="@obj.name"><i class="btn btn-primary btn-sm">View</i></a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="YugiOhCard" asp-action="Delete" asp-route-cardName="@obj.name"><i class="btn btn-primary btn-sm">Delete</i></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
</table>